<html>
<head>
<meta charset="utf-8"> 
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head> 
<body style="width: 98%;margin: auto;margin-top: 10pt;">
{{file_info}}
{{!header}}

{{!table}}
<hr />
<form name="htmlform" method="POST" enctype="multipart/form-data" action="/">
    Select file:
    <input type="file" name="pic" accept="image/*">
    Kernel size:
    <input name="S" type="number" min="3" step="2" value={{current_S}} required="yes">
    К parameter:
    <input name="k" type="number" min=1 value={{current_k}} required="yes">      
    Slice: Column:
    <input name="slice_v" type="number" min=0>      
    Row:
    <input name="slice_h" type="number" min=0>      
    <input type="submit" value="Run" style="">
</form>

</body>
</html>

