<table style="width:100%">
    <tr>
        <td align="center">
            Original
        </td>
        <td align="center">
            Result
        </td>
    </tr>
    <tr>
        <td align="center">
            <img src="data:image/{{image_format}};base64,{{base64_old}}">
        </td>
        <td align="center">
            <img src="data:image/{{image_format}};base64,{{base64_new}}">
        </td>
    </tr>
    <tr>
        <td align="center">
            Histogram<br><img style="border: 1px solid black;" src="data:image/png;base64,{{base64_hist_old}}" title="{{hist_old}}" alt="{{hist_old}}">
        </td>
        <td align="center">
            Histogram<br><img style="border: 1px solid black;" src="data:image/png;base64,{{base64_hist_new}}" title="{{hist_old}}" alt="{{hist_new}}">
        </td>
    </tr>
    <tr>
        <td align="center">
            {{!slice_old}}
        </td>
        <td align="center">
            {{!slice_new}}
        </td>
    </tr>
</table>
